<template>
  <div>
    <v-navigation-drawer
      v-resize="onResize"
      class="text-left"
      v-model="drawer"
      :mini-variant.sync="mini"
      :permanent="sidebarShow == true"
      expand-on-hover
      app
    >
      <v-list-item class="px-2 company-logo">
        <v-list-item-avatar>
          <img src="@/assets/icon.png">
        </v-list-item-avatar>

        <v-list-item-title><span class="blue-grey--text text--darken-4 text-uppercase">Tonjoo</span></v-list-item-title>

        <!-- <v-btn
          icon
          @click.stop="mini = !mini"
        >
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn> -->
      </v-list-item>

      <v-divider></v-divider>

      <v-list dense>
        <v-list-item
          v-for="item in items"
          v-if="$auth.user().usergroup_id === item.usergroup_id || item.usergroup_id === 0"
          :key="item.title"
          :to="{name:item.link}"
          link
          exact
        >
          <v-list-item-icon>
            <v-icon :class="[item.iconColor]">{{ item.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ item.title }}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>

      </v-list>

      <template v-slot:append>
        <v-list dense>
          <v-list-item @click.prevent="$auth.logout()">
            <v-list-item-icon>
              <v-icon>mdi-logout</v-icon>
            </v-list-item-icon>

            <v-list-item-content>
              <v-list-item-title>Logout</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </template>

    </v-navigation-drawer>

    <v-app-bar
      app
      color="white"
      light
      elevate-on-scroll
    >

      <v-spacer />
      <v-text-field
        class="mx-4 col-md-4 grey--text"
        flat
        hide-details
        label="Search documents"
        prepend-inner-icon="mdi-magnify"
        background-color="grey lighten-4"
        color="grey lighten-2"
        solo
        rounded
      ></v-text-field>

      <!-- <v-btn class="mr-2" icon>
        <v-badge
          color="pink"
          dot
        >
          <v-icon>mdi-bell-outline</v-icon>
        </v-badge>
      </v-btn> -->

      <v-btn icon class="hidden-md-and-up" excact>
        <v-icon>mdi-account</v-icon>
      </v-btn>

      <v-list
        dense
        nav
        class="py-0 hidden-sm-and-down"
        max-width="270"
      >
        <v-list-item>
          <v-list-item-content class="text-right">
            <v-list-item-title class="text-capitalize" v-html="'Tonjoo'"></v-list-item-title>
            <v-list-item-subtitle v-html="$auth.user().username" class="red--text text--darken-1"></v-list-item-subtitle>
          </v-list-item-content>

          <!-- <v-list-item-avatar color="red darken-1">
            <span class="white--text headline">PI</span>
          </v-list-item-avatar> -->
          <v-avatar color="red darken-1" class="ml-2" size="36">
            <v-icon dark>mdi-account</v-icon>
          </v-avatar>

        </v-list-item>
      </v-list>

      <!-- <v-app-bar-nav-icon @click.stop="drawerRight = !drawerRight" /> -->
    </v-app-bar>

    <!-- <v-navigation-drawer
      v-model="drawerRight"
      app
      clipped
      right
    >
      <v-list dense>
        <v-list-item @click.stop="right = !right">
          <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Open Temporary Drawer Right</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer> -->

    <!-- second navigation drawer -->
    <!-- <v-navigation-drawer
      v-model="left"
      fixed
      temporary
    />
    <v-navigation-drawer
      v-model="right"
      fixed
      right
      temporary
    /> -->

  </div>
</template>

<script>
export default {
  data () {
    return {
      sidebarShow: true,
      windowSize: {
        x: 0,
        y: 0
      },
      drawer: false,
      items: [
        // {title: 'Upload Document', icon: 'mdi-plus', iconColor: 'red darken-1 white--text'},
        {title: 'Dashboard', icon: 'mdi-home-outline', iconColor: '', 'usergroup_id': 0, 'link': 'Home'},
        {title: 'Transaksi', icon: 'mdi-car', iconColor: '', 'usergroup_id': 1, 'link': 'TransaksiIndex'},
        {title: 'Rekap Transaksi', icon: 'mdi-file', iconColor: '', 'usergroup_id': 1, 'link': 'RekapIndex'}
      ],
      mini: true,
      // drawer: null,
      drawerRight: false,
      right: false,
      left: false,
      msg: 'Welcome to Your Vue.js App'
    }
  },
  mounted () {
    this.onResize()
  },

  methods: {
    onResize () {
      this.windowSize = { x: window.innerWidth, y: window.innerHeight }
      if (this.windowSize.x < 960) {
        this.sidebarShow = false
      } else {
        this.sidebarShow = true
      }
    }
  }
}
</script>

<style type="text/css">
  .v-icon.v-icon{
    border-radius: 6px;
  }
  .company-logo{
    padding-top:4px!important;
    padding-bottom:4px!important;
  }
</style>
