<template>
  <v-bottom-navigation
    app
    grow
    color="red darken-1"
  >
    <v-btn
      v-for="item in items"
      v-if="$auth.user().usergroup_id === item.usergroup_id || item.usergroup_id === 0"
      :key="item.title"
      :to="{name:item.link}"
      exact
    >
      <span>{{ item.title }}</span>
      <v-icon>{{ item.icon }}</v-icon>
    </v-btn>

  </v-bottom-navigation>
</template>

<script>
export default {
  data () {
    return {
      items: [
        // {title: 'Upload Document', icon: 'mdi-plus', iconColor: 'orange darken-2 white--text'},
        {title: 'Dashboard', icon: 'mdi-home-outline', iconColor: '', 'usergroup_id': 0, 'link': 'Home'},
        {title: 'Transaksi', icon: 'mdi-car', iconColor: '', 'usergroup_id': 1, 'link': 'TransaksiIndex'},
        {title: 'Rekap Transaksi', icon: 'mdi-file', iconColor: '', 'usergroup_id': 1, 'link': 'RekapIndex'}
      ]
    }
  }
}
</script>
