<template>
  <v-snackbar
    v-model="alerts.snackbar"
    :timeout="alerts.timeout"
    :color="alerts.status == 'success' ? 'success' : 'red'"
  >
    {{ alerts.message }}

    <template v-slot:action="{ attrs }">
      <v-btn
        text
        v-bind="attrs"
        @click="alerts.snackbar = false"
      >
        Close
      </v-btn>
    </template>
  </v-snackbar>
</template>

<script>
export default {
  props: {
    alerts: {}
  },
  data () {
    return {
    }
  },
  mounted () {
  }
}
</script>
