<template>
  <div class="transaksi-list dashboard-content">

    <v-container fluid>

      <v-row dense>
        <template>
          <v-col cols='12' class="mb-2">
            <v-banner
              single-line
              class="title"
            >
              <template>

                  <v-row>
                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                      offset-lg="3"
                      offset-md="4"
                    >
                      <v-text-field
                        class="mx-2"
                        type="date"
                        label="Start Date"
                        hide-details
                        v-model="filters.start_date"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                    >
                      <v-text-field
                        class="mx-2"
                        type="date"
                        label="End Date"
                        hide-details
                        v-model="filters.end_date"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                    >
                      <v-select
                        class="mx-2"
                        :items="items"
                        label="Category"
                        v-model="filters.category"
                      ></v-select>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                    >
                      <v-text-field
                        class="mx-2"
                        append-icon="mdi-magnify"
                        label="Search"
                        hide-details
                        v-model="filters.search"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="1"
                      md="4"
                    >
                      <v-btn
                        class="mt-5 mx-2 float-right"
                        color="red darken-1"
                        dark
                        outlined
                        small
                        @click="onPageSearch()"
                      ><span>Search</span></v-btn>
                      <!-- ><span class="hidden-sm-and-down">Tambah Transaksi</span><v-icon class="hidden-md-and-up" center>mdi-plus</v-icon></v-btn> -->
                    </v-col>
                  </v-row>
              </template>
            </v-banner>
          </v-col>
        </template>
      </v-row>

      <template>
        <v-data-table
          :headers="headers"
          :items="transactions"
          :page.sync="filters.page"
          :items-per-page="filters.itemsPerPage"
          sort-by="layanan_name"
          class="elevation-1"
          hide-default-footer
          @page-count="filters.pageCount = $event"
          item-key="rentdetail_id"
        >
          <template v-slot:item.description="{ item }">
            <span class="red--text text--darken-1">{{item.description}}</span>
          </template>
          <template v-slot:item.total="{ item }">
            {{item.total | toCurrency}}
          </template>
        </v-data-table>

        <div class="text-right pt-2">
          <v-row>
            <v-col cols="12" md="2">
              <v-select
                :value="filters.limit"
                class="mx-2"
                :items="limits"
                label="Rows per page"
                @input="filters.limit = parseInt($event, 10)"
                @change="totalPage"
              ></v-select>
            </v-col>

            <v-col cols="12" md="10">
              <v-pagination
                color="red darken-1"
                v-model="filters.current"
                :length="filters.total"
                @input="onPageChange"
                :total-visible="7"
              ></v-pagination>
            </v-col>
          </v-row>

        </div>
      </template>

    </v-container>

  </div>
</template>

<script>
export default {
  data () {
    return {
      btnDisabled: false,
      items: ['income', 'expense'],
      limits: [5, 10, 15, 20],
      filters: {
        page: 1,
        current: 1,
        total: 0,
        limit: 10,
        pageCount: 4,
        itemsPerPage: 1,
        start_date: null,
        end_date: null,
        category: null,
        search: null
      },
      dialog: false,
      headers: [
        {
          text: 'Date Paid',
          align: 'start',
          sortable: false,
          value: 'date_paid'
        },
        { text: 'Kategori', value: 'category' },
        { text: 'Nominal (IDR)  ', value: 'total', align: 'end' }
      ],
      transactions: []
    }
  },
  created () {
    this.initialize()
  },
  methods: {
    initialize () {
      var app = this

      app.filters.page = app.filters.current

      app.$axios.get('/apirecaptransaction', {params: app.filters}).then(function (resp) {
        app.transactions = resp.data.transactions.data

        app.filters.current = resp.data.transactions.current_page
        app.filters.total = resp.data.transactions.last_page

        app.filters.pageCount = resp.data.transactions.last_page
        app.filters.itemsPerPage = parseInt(resp.data.transactions.per_page)
      }).catch(function (resp) {
        console.log(resp)
      })
    },

    totalPage () {
      this.initialize()
    },

    onPageSearch () {
      this.filters.current = 1
      this.initialize()
    },

    onPageChange () {
      this.initialize()
    }
  }
}

</script>
