<template>
  <div class="transaksi-list dashboard-content">

    <v-container fluid>

      <v-row dense>
        <template>
          <v-col cols='12' class="mb-2">
            <v-banner
              single-line
              class="title"
            >
              <template>

                  <v-row>

                    <v-col
                      cols="12"
                      lg="3"
                      md="4"
                    >
                      <v-btn
                        class="mt-5 mx-2"
                        color="red darken-1"
                        dark
                        outlined
                        small
                        @click="dialog = true"
                      ><span>Tambah Transaksi</span></v-btn>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                    >
                      <v-text-field
                        class="mx-2"
                        type="date"
                        label="Start Date"
                        hide-details
                        v-model="filters.start_date"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                    >
                      <v-text-field
                        class="mx-2"
                        type="date"
                        label="End Date"
                        hide-details
                        v-model="filters.end_date"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                    >
                      <v-select
                        class="mx-2"
                        :items="items"
                        label="Category"
                        v-model="filters.category"
                      ></v-select>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="2"
                      md="4"
                    >
                      <v-text-field
                        class="mx-2"
                        append-icon="mdi-magnify"
                        label="Search"
                        hide-details
                        v-model="filters.search"
                      ></v-text-field>
                    </v-col>

                    <v-col
                      cols="12"
                      lg="1"
                      md="4"
                    >
                      <v-btn
                        class="mt-5 mx-2 float-right"
                        color="red darken-1"
                        dark
                        outlined
                        small
                        @click="onPageSearch()"
                      ><span>Search</span></v-btn>
                      <!-- ><span class="hidden-sm-and-down">Tambah Transaksi</span><v-icon class="hidden-md-and-up" center>mdi-plus</v-icon></v-btn> -->
                    </v-col>
                  </v-row>
              </template>
            </v-banner>
          </v-col>
        </template>
      </v-row>

      <template>
        <v-data-table
          :headers="headers"
          :items="transactions"
          :page.sync="filters.page"
          :items-per-page="filters.itemsPerPage"
          sort-by="layanan_name"
          class="elevation-1"
          hide-default-footer
          @page-count="filters.pageCount = $event"
          item-key="rentdetail_id"
        >
          <template v-slot:top>
            <v-dialog v-model="dialog" persistent>
              <v-card>
                <v-card-title>
                  <span class="headline">{{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                  <v-container>
                    <ValidationObserver ref="observer" v-slot="{ validate, reset }">
                      <v-row>
                        <v-col cols="12" md="6">
                          <ValidationProvider v-slot="{ errors }" name="Description" rules="required|min:3">
                            <v-textarea
                              v-model="editedItem.description"
                              label="Description"
                              placeholder="Fill Description"
                              :error-messages="errors"
                              outlined
                              required
                              height="276"
                            ></v-textarea>
                          </ValidationProvider>
                        </v-col>

                        <v-col cols="12" md="6" class="py-0">
                          <v-row>
                            <v-col cols="12">
                              <ValidationProvider v-slot="{ errors }" name="Code" rules="required|min:3">
                                <v-text-field
                                  v-model="editedItem.code"
                                  label="Code"
                                  placeholder="Fill Code"
                                  :error-messages="errors"
                                  outlined
                                  required
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>

                            <v-col cols="12">
                              <ValidationProvider v-slot="{ errors }" name="Rate Euro" rules="required|min:3">
                                <v-text-field
                                  v-model="editedItem.rate_euro"
                                  type="number"
                                  label="Rate Euro"
                                  placeholder="Fill Rate Euro"
                                  :error-messages="errors"
                                  outlined
                                  required
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>

                            <v-col cols="12">
                              <ValidationProvider v-slot="{ errors }" name="Date Paid" rules="required|min:3">
                                <v-text-field
                                  v-model="editedItem.date_paid"
                                  type="date"
                                  label="Date Paid"
                                  placeholder="Fill Date Paid"
                                  :error-messages="errors"
                                  outlined
                                  required
                                ></v-text-field>
                              </ValidationProvider>
                            </v-col>
                          </v-row>
                        </v-col>
                      </v-row>
                    </ValidationObserver>
                  </v-container>

                  <v-container v-if="editedItem.id > 0">
                    <v-row>

                      <v-col
                        cols="12"
                      >
                        <template>
                          <div>
                            <v-alert
                              color="cyan"
                              border="left"
                              colored-border
                              icon="mdi-file"
                            >
                              Detail Transaksi
                            </v-alert>
                          </div>
                        </template>
                      </v-col>
                    </v-row>

                    <ValidationObserver ref="detailRentobserver" v-slot="{ validate, reset }">
                      <v-row
                        align="center"
                        justify="center"
                      >
                        <v-col
                          cols="2"
                        >
                          <ValidationProvider v-slot="{ errors }" name="Category" rules="required">
                            <v-autocomplete
                              v-model="editedItem.category"
                              :items="items"
                              label="Category"
                              :error-messages="errors"
                              required
                            ></v-autocomplete>
                          </ValidationProvider>
                        </v-col>

                        <v-col
                          cols="4"
                        >
                          <ValidationProvider v-slot="{ errors }" name="Nama Transaksi" rules="required">
                            <v-text-field
                              v-model="editedItem.transaction"
                              label="Nama Transaksi"
                              :error-messages="errors"
                              required
                            ></v-text-field>
                          </ValidationProvider>
                        </v-col>

                        <v-col
                          cols="6"
                        >
                          <ValidationProvider v-slot="{ errors }" name="Nominal" rules="required">
                            <v-text-field
                              v-model="editedItem.nominal"
                              label="Nominal"
                              :error-messages="errors"
                              required
                            >
                              <template v-slot:append-outer>
                                <v-menu
                                  style="top: -12px"
                                  offset-y
                                >
                                  <template v-slot:activator="{ on, attrs }">
                                    <v-btn
                                      v-bind="attrs"
                                      v-on="on"
                                      color="blue darken-1"
                                      fab
                                      x-small
                                      dark
                                      outlined
                                      @click="addDetailtrans()"
                                    >
                                      <v-icon center>mdi-plus</v-icon>
                                    </v-btn>
                                  </template>
                                </v-menu>
                              </template>
                            </v-text-field>
                          </ValidationProvider>
                        </v-col>
                      </v-row>
                    </ValidationObserver>

                    <v-divider></v-divider>

                    <v-row v-if="editedItem.rentdetail.length > 0" v-for="(detail, key) in editedItem.rentdetail" :key="key">

                      <v-col
                        cols="2"
                      >
                        <ValidationProvider v-slot="{ errors }" name="Category" rules="required">
                          <v-autocomplete
                            v-model="detail.category"
                            :items="items"
                            label="Category"
                            :error-messages="errors"
                            required
                          ></v-autocomplete>
                        </ValidationProvider>
                      </v-col>

                      <v-col
                        cols="4"
                      >
                        <ValidationProvider v-slot="{ errors }" name="Nama Transaksi" rules="required">
                          <v-text-field
                            v-model="detail.transaction"
                            label="Nama Transaksi"
                            :error-messages="errors"
                            required
                          ></v-text-field>
                        </ValidationProvider>
                      </v-col>

                      <v-col
                        cols="6"
                      >
                        <v-text-field
                          v-model="detail.nominal"
                          label="Keterangan"
                          required
                        >
                          <template v-slot:append-outer>
                            <v-menu
                              style="top: -12px"
                              offset-y
                            >
                              <template v-slot:activator="{ on, attrs }">
                                <v-btn
                                  v-bind="attrs"
                                  v-on="on"
                                  color="green darken-1"
                                  fab
                                  x-small
                                  dark
                                  class="mr-1"
                                  outlined
                                  @click="saveDetailtrans(key)"
                                >
                                  <v-icon center>mdi-content-save</v-icon>
                                </v-btn>

                                <v-btn
                                  v-bind="attrs"
                                  v-on="on"
                                  color="red darken-2"
                                  fab
                                  x-small
                                  dark
                                  outlined
                                  @click="deleteDetailtrans(detail.id)"
                                >
                                  <v-icon center>mdi-delete</v-icon>
                                </v-btn>
                              </template>
                            </v-menu>
                          </template>
                        </v-text-field>
                      </v-col>
                    </v-row>

                  </v-container>
                </v-card-text>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn color="blue darken-1" text @click="close" :disabled="btnDisabled">Close</v-btn>
                  <v-btn color="blue darken-1" text @click="save" :disabled="btnDisabled">Save</v-btn>
                </v-card-actions>
              </v-card>
            </v-dialog>
          </template>
          <template v-slot:item.actions="{ item }">
            <v-icon
              small
              class="mr-2"
              @click="editItem(item)"
            >
              mdi-pencil
            </v-icon>
            <v-icon
              small
              @click="deleteItem(item)"
            >
              mdi-delete
            </v-icon>
          </template>
          <template v-slot:item.description="{ item }">
            <span class="red--text text--darken-1">{{item.description}}</span>
          </template>
          <template v-slot:item.nominal="{ item }">
            {{item.nominal | toCurrency}}
          </template>
        </v-data-table>

        <div class="text-right pt-2">
          <v-row>
            <v-col cols="12" md="2">
              <v-select
                :value="filters.limit"
                class="mx-2"
                :items="limits"
                label="Rows per page"
                @input="filters.limit = parseInt($event, 10)"
                @change="totalPage"
              ></v-select>
            </v-col>

            <v-col cols="12" md="10">
              <v-pagination
                color="red darken-1"
                v-model="filters.current"
                :length="filters.total"
                @input="onPageChange"
                :total-visible="7"
              ></v-pagination>
            </v-col>
          </v-row>

        </div>
      </template>

    </v-container>

  </div>
</template>

<script>

import { required, email, min, max } from 'vee-validate/dist/rules'
import { extend, ValidationObserver, ValidationProvider, setInteractionMode } from 'vee-validate'

setInteractionMode('eager')

extend('required', {
  ...required,
  message: '{_field_} tidak boleh kosong'
})

extend('min', {
  ...min,
  message: '{_field_} tidak boleh lebih kecil dari {length} karakter'
})

extend('max', {
  ...max,
  message: '{_field_} tidak boleh lebih besar dari {length} karakter'
})

extend('email', {
  ...email,
  message: 'Email harus valid'
})

export default {
  components: {
    ValidationProvider,
    ValidationObserver
  },
  data () {
    return {
      btnDisabled: false,
      items: ['income', 'expense'],
      limits: [5, 10, 15, 20],
      filters: {
        page: 1,
        current: 1,
        total: 0,
        limit: 10,
        pageCount: 4,
        itemsPerPage: 1,
        start_date: null,
        end_date: null,
        category: null,
        search: null
      },
      dialog: false,
      headers: [
        {
          text: 'Deskripsi',
          align: 'start',
          sortable: false,
          value: 'description'
        },
        { text: 'Code', value: 'code' },
        { text: 'Rate Euro', value: 'rate_euro' },
        { text: 'Date Paid', value: 'date_paid' },
        { text: 'Kategori', value: 'category' },
        { text: 'Nama Transaksi', value: 'transaction' },
        { text: 'Nominal (IDR)  ', value: 'nominal', align: 'end' },
        { text: 'Aksi', value: 'actions', sortable: false }
      ],
      transactions: [],
      editedIndex: -1,
      editedItem: {
        id: '',
        rentdetail_id: '',
        description: '',
        code: '',
        rate_euro: '',
        date_paid: '',
        category: '',
        transaction: '',
        nominal: '',
        rentdetail: {}

      },
      defaultItem: {
        id: '',
        rentdetail_id: '',
        description: '',
        code: '',
        rate_euro: '',
        date_paid: '',
        category: '',
        transaction: '',
        nominal: '',
        rentdetail: {}
      }
    }
  },
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'New Item' : 'Edit Item'
    }
  },
  watch: {
    dialog (val) {
      val || this.close()
    }
  },
  created () {
    this.initialize()
  },
  methods: {
    initialize () {
      var app = this

      app.filters.page = app.filters.current

      app.$axios.get('/apitransaction', {params: app.filters}).then(function (resp) {
        app.transactions = resp.data.transactions.data

        app.filters.current = resp.data.transactions.current_page
        app.filters.total = resp.data.transactions.last_page

        app.filters.pageCount = resp.data.transactions.last_page
        app.filters.itemsPerPage = parseInt(resp.data.transactions.per_page)
      }).then(function (resp) {
        if (app.editedIndex > -1) {
          app.editedItem = app.transactions.find((item) => item.id === app.editedIndex)
        }
      }).catch(function (resp) {
        console.log(resp)
      })
    },

    totalPage () {
      this.initialize()
    },

    onPageSearch () {
      this.filters.current = 1
      this.initialize()
    },

    onPageChange () {
      this.initialize()
    },

    saveDetailtrans (key) {
      var app = this
      var data = this.editedItem.rentdetail[key]

      app.axios.patch('/auth/apidetailtransaction/' + data.id, data).then(function (resp) {
        if (resp.data.status === 'success') {
          app.$fire({
            title: resp.data.status,
            text: resp.data.message,
            type: 'success',
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.initialize()
          })
        } else {
          var arr = resp.data.message
          var messages = ''

          Object.keys(arr).forEach(key => {
            messages += arr[key] + ' '
          })

          app.$fire({
            title: 'errors',
            text: messages,
            type: 'error',
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
            app.btnDisabled = false
          })
        }
      }).catch(function (resp) {
        console.log(resp)
      })
    },

    deleteDetailtrans (id) {
      var app = this
      if (confirm('Are you sure you want to delete this item?')) {
        app.axios.delete('/auth/apidetailtransaction/' + id).then(function (resp) {
          if (resp.data.status === 'success') {
            app.initialize()
          }
        }).catch(function (resp) {
          console.log(resp)
        })
      }
    },

    addDetailtrans () {
      var app = this

      this.$refs.detailRentobserver.validate().then(result => {
        if (result) {
          app.axios.post('/auth/apidetailtransaction', app.editedItem).then(function (resp) {
            if (resp.data.status === 'success') {
              app.$fire({
                title: resp.data.status,
                text: resp.data.message,
                type: 'success',
                showConfirmButton: false,
                timer: 2000
              }).then(r => {
                app.initialize()
              })
            } else {
              var arr = resp.data.message
              var messages = ''

              Object.keys(arr).forEach(key => {
                messages += arr[key] + ' '
              })

              app.$fire({
                title: 'errors',
                text: messages,
                type: 'error',
                showConfirmButton: false,
                timer: 2000
              }).then(r => {
                app.btnDisabled = false
              })
            }
          }).catch(function (resp) {
            console.log(resp)
          })
        }
      })
    },

    editItem (item) {
      this.editedItem = Object.assign({}, item)
      this.editedIndex = this.editedItem.id
      this.dialog = true
      console.log('this.editedIndex')
      console.log(this.editedIndex)
    },

    deleteItem (item) {
      var app = this
      var layanan = Object.assign({}, item)
      console.log(layanan.rentdetail_id)
      if (confirm('Are you sure you want to delete this item?')) {
        if (layanan.rentdetail_id) {
          app.axios.delete('/auth/apitransaction/' + layanan.rentdetail_id).then(function (resp) {
            if (resp.data.status === 'success') {
              app.initialize()
            }
          }).catch(function (resp) {
            console.log(resp)
          })
        } else {
          app.axios.delete('/auth/apiheadertransaction/' + layanan.id).then(function (resp) {
            if (resp.data.status === 'success') {
              app.initialize()
            }
          }).catch(function (resp) {
            console.log(resp)
          })
        }
      }
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
        this.initialize()
      })
    },

    save () {
      var app = this

      this.$refs.observer.validate().then(result => {
        if (result) {
          app.btnDisabled = true

          if (app.editedIndex > -1) {
            app.axios.patch('/auth/apitransaction/' + app.editedItem.id, app.editedItem).then(function (resp) {
              if (resp.data.status === 'success') {
                app.$fire({
                  title: resp.data.status,
                  text: resp.data.message,
                  type: 'success',
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                  app.initialize()
                  app.btnDisabled = false
                })
              } else {
                var arr = resp.data.message
                var messages = ''

                Object.keys(arr).forEach(key => {
                  messages += arr[key] + ' '
                })

                app.$fire({
                  title: 'errors',
                  text: messages,
                  type: 'error',
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                  app.btnDisabled = false
                })
              }
            }).catch(function (resp) {
              console.log(resp)
              app.btnDisabled = false
            })
          } else {
            app.axios.post('/auth/apitransaction', app.editedItem).then(function (resp) {
              if (resp.data.status === 'success') {
                app.$fire({
                  title: resp.data.status,
                  text: resp.data.message,
                  type: 'success',
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                  app.editedItem.id = resp.data.rent_id
                  app.transactions.push(app.editedItem)
                  app.editedIndex = resp.data.rent_id
                  app.btnDisabled = false
                  // app.initialize()
                })
              } else {
                var arr = resp.data.message
                var messages = ''

                Object.keys(arr).forEach(key => {
                  messages += arr[key] + ' '
                })

                app.$fire({
                  title: 'errors',
                  text: messages,
                  type: 'error',
                  showConfirmButton: false,
                  timer: 2000
                }).then(r => {
                  app.btnDisabled = false
                })
              }
            }).catch(function (resp) {
              console.log(resp)
              app.btnDisabled = false
            })
          }
        }
      })
    }
  }
}

</script>
