<template>
  <div class="home dashboard-content">

    <v-container fluid>

      <v-row dense>
        <template>
          <v-col cols='12'>
            <h2>Welcome Back, {{$auth.user().username}}</h2>
          </v-col>
        </template>
        <template>

            <v-chip filter outlined class="mr-2"><v-icon class="mr-1" right>mdi-garage</v-icon>Tonjoo</v-chip>
            <v-chip filter outlined><v-icon class="mr-1" right>mdi-account-outline</v-icon>{{$auth.user().username}}</v-chip>

            <v-spacer></v-spacer>
        </template>
      </v-row>

      <v-row dense class="mt-4">

          <template>
            <v-col v-if="recaps.length > 0" :key="key" v-for="(recap, key) in recaps" :cols="12" sm="6">
              <v-card
                v-ripple
                class="mx-auto my-2"
              >
                  <v-card-text class="pa-0">
                    <v-row>
                      <v-col align="center" class="" cols="12">
                        <v-avatar :color="recap.category === 'expense' ? 'red darken-1' : 'blue darken-1'">
                          <v-icon color="white darken-1">{{recap.category === 'expense' ? 'mdi-debug-step-into' : 'mdi-debug-step-out'}}</v-icon>
                        </v-avatar>
                      </v-col>
                    </v-row>
                  </v-card-text>

                  <v-list-item>
                    <v-list-item-subtitle align="center">{{recap.category}}</v-list-item-subtitle>
                  </v-list-item>

                  <v-list-item>
                    <v-list-item-title align="center" class="title">{{recap.total}}</v-list-item-title>
                  </v-list-item>

                  <v-card-actions>

                    <v-list-item
                      class="pa-0"
                      align="center"
                    >
                      <v-list-item-content>
                        <v-list-item-subtitle size="x-small"><caption>Date Paid</caption></v-list-item-subtitle>
                      </v-list-item-content>

                      <v-list-item-content>
                        <v-list-item-subtitle size="x-small" class="blue-grey--text text--darken-1"><caption>{{recap.date_paid}}</caption></v-list-item-subtitle>
                      </v-list-item-content>
                    </v-list-item>

                  </v-card-actions>
              </v-card>
            </v-col>

            <v-col v-if="recaps.length == 0" v-for="data in 4" :key="data" :cols="12" sm="6">
              <v-skeleton-loader
                class="mx-auto my-2"
                type="card-avatar, actions"
              ></v-skeleton-loader>
            </v-col>
          </template>

      </v-row>
    </v-container>
  </div>
</template>

<script>

export default {
  components: {
    // extends v-skeleton-loader
    VBoilerplate: {

      render (h, { data, props, children }) {
        return h('v-skeleton-loader', {
          ...data,
          props: {
            boilerplate: true,
            elevation: 2,
            ...props
          }
        }, children)
      }
    }
  },
  data () {
    return {
      recaps: [],
      all_income: '',
      all_expense: ''
    }
  },
  mounted () {
  },
  created () {
    this.initialize()
  },
  methods: {
    initialize () {
      var app = this

      app.$axios.get('/apidashboard').then(function (resp) {
        app.recaps = resp.data.recaps
        app.all_income = resp.data.all_income
        app.all_expense = resp.data.all_expense
      }).catch(function (resp) {
        console.log(resp)
      })
    }
  }
}
</script>
