<template>
  <div id="app">

  <v-app id="inspire">

    <header-layout v-if="$auth.check()"></header-layout>

    <v-main>
      <router-view></router-view>
    </v-main>

    <navbottom-layout v-if="$auth.check()" class="hidden-md-and-up"></navbottom-layout>
    <!-- <footer-layout></footer-layout> -->

  </v-app>

  </div>
</template>

<script>
import Header from '@/components/includes/Header'
import Navbottom from '@/components/includes/Navbottom'
// import Footer from '@/components/includes/Footer'

export default {
  name: 'App',
  components: {
    'header-layout': Header,
    'navbottom-layout': Navbottom
    // 'auth-layout': Auth,
  },
  data () {
    return {
    }
  },
  mounted () {
    var app = this
    let loader = app.$loading.show()

    setTimeout(() => {
      loader.hide()
    }, 4000)
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
.v-main{
  padding-top:0px!important;
}
.dashboard-content{
  margin-top: 60px;
  margin-bottom: 60px;
}
.v-application--is-ltr .v-banner__wrapper {
    padding: 16px 0px 16px 0px;
}

.v-card.hover {
  opacity: 0.9;
  -webkit-box-shadow: 0 3px 1px -2px rgba(246, 134, 19,.2), 0 2px 2px 0 rgba(246, 134, 19,.14), 0 1px 5px 0 rgba(246, 134, 19,.12) !important;
  box-shadow: 0 3px 1px -2px rgba(246, 134, 19,.2), 0 2px 2px 0 rgba(246, 134, 19,.14), 0 1px 5px 0 rgba(246, 134, 19,.12) !important;
  transition: box-shadow .4s ease-in-out, opacity .4s ease-in-out;
}

.v-card.hover:not(.on-hover) {
  opacity: 1;
  -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12) !important;
 }

.on-hover .v-btn {
  transition: opacity .4s ease-in-out;
}
</style>
