<template>

    <v-container
      class="fill-height"
      fluid
    >

      <v-row
        align="center"
        justify="center"
      >
        <v-col
          cols="12"
          sm="8"
          md="4"
        >
          <v-card class="elevation-12">
            <v-toolbar
              color="red darken-1"
              dark
              flat
            >
              <v-avatar>
                <img src="@/assets/icon.png">
              </v-avatar>

              <v-toolbar-title>

                Login form
              </v-toolbar-title>
              <v-spacer></v-spacer>
            </v-toolbar>
              <v-form autocomplete="off" @submit.prevent="login" method="post">
            <v-card-text>
                <v-text-field
                  label="Login"
                  name="login"
                  prepend-icon="mdi-account"
                  type="text"
                  v-model="username"
                ></v-text-field>

                <v-text-field
                  id="password"
                  label="Password"
                  name="password"
                  prepend-icon="mdi-lock"
                  type="password"
                  v-model="password"
                ></v-text-field>
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="red darken-1" dark type="submit" outlined>Login</v-btn>
              <!-- <v-btn color="red darken-1" dark @click="login" >Login</v-btn> -->
            </v-card-actions>
              </v-form>
          </v-card>
        </v-col>
      </v-row>

      <snackbar :alerts="alerts"></snackbar>

    </v-container>

</template>

<script>
import Snackbar from './../../components/includes/Snackbar.vue'

export default {
  props: {
    source: String
  },
  components: {
    'snackbar': Snackbar
  },
  inject: ['theme'],
  data () {
    return {
      username: null,
      password: null,
      alerts: {
        snackbar: false,
        status: 'success',
        timeout: 2000,
        message: 'Hello, I\'m a snackbar'
      }
    }
  },
  mounted () {
    // this.$auth.logout()

    // localStorage.removeItem('laravel-jwt-auth')
    // localStorage.removeItem('token')
  },
  methods: {
    login () {
      // get the redirect object
      var app = this

      app.$auth.redirect()

      let loader = app.$loading.show()
      this.$auth.login({
        data: {
          username: app.username,
          password: app.password
        },
        success: function (res) {
          // handle redirection
          // app.success = true
          if (res.data.status === 'success') {
            loader.hide()

            const redirectTo = 'Home'
            this.$router.push({name: redirectTo})
            app.$fire({
              title: res.data.status,
              text: res.data.message,
              type: 'success',
              showConfirmButton: false,
              timer: 2000
            }).then(r => {
            })

            // localStorage.setItem('laravel-jwt-auth', res.data.Authorization)
            // localStorage.setItem('token', res.data.Authorization)
            // app.$root.$emit('update-active-by-child', '')
          }
          // if(app.fromPage != 'detailitem'){
          // localStorage.setItem('laravel-jwt-auth', response.body.access_token)
          // }
        },
        error: function (res) {
          this.$fire({
            title: 'errors',
            text: 'username atau password salah',
            type: 'error',
            showConfirmButton: false,
            timer: 2000
          }).then(r => {
          })

          loader.hide()
          app.has_error = true
          app.error = res.response.data.message
          app.errors = res.response.data.message || {}

          // console.log(res.response.data)
          // console.log(res.errors)
        },
        // staySignedIn: true,
        rememberMe: true,
        fetchUser: true
      })
    }

  }
}
</script>
